p{
    color: rgb(223, 20, 149);
    display:inline-block;
    background-color: aqua;
}
.warning{
    background-color: rgb(255, 0, 144);
    color: aliceblue;
    display:inline-block;
}
.error{
    background-color: turquoise;
    display:inline-block;
}
.font{
    color: rgb(237, 6, 171);
    font-size: 50px;
}
.waran{

}
